.header {
    background-color: #0078d7;
    color: #eee;
}

.nav-bar-search {
  margin-left: 10px;;
}

.header .nav-link {
  color: #fff;
}
.nav-link:hover { color: #eee; }

.auth-link { color: #fff; }
.auth-link:hover { color: #eee; }

.navbar-brand-image {
  height: 40px; /* Adjust the height as needed */
}

/* Ensure the logo keeps its aspect ratio using modern CSS */
.navbar-logo {
    height: 1.5em;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}
