/* Application styles */
.app {
    background-color: #fff;
    padding: 0 !important;
    min-width: 375px;
}

.main--home {
    min-height: 40em;
    width: 50%;
}
.main--details {
    min-height: 40em;
}
.debug {
    border: 1px solid red;
}