.search-button {
    font-size: 14px;
    margin-left: 10px;
    border-color: 'green'
}

.suggestions {
    position: relative;
    display: inline-block;
    width: inherit;
    z-index:99
}

.search-bar {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.search-bar-narrow {


}

.search-bar-wide {
    width: 40%;
    margin-left: 5px;
}

/* Moved styles from SearchBar.jsx */
.autocomplete {
  width: 75%;
}

.autocomplete .MuiAutocomplete-endAdornment {
  display: none;
}

/* Added styles for the Box component */
.search-bar-box {
  display: flex;
  align-items: center;
  flex: 1;
}

